In [4]:
import numpy as np
import pandas as pd
from pandas import DataFrame
import matplotlib.pyplot as plt

In [5]:
import os 
print(os.listdir('./input'))

['test.csv', 'data_description.txt', 'train.csv']

In [6]:
raw_data = pd.read_csv('./input/train.csv')

In [7]:
raw_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [8]:
raw_data.describe()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SalePrice
count,1460.000000,1460.000000,1201.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1452.000000,1460.000000,...,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000,1460.000000
mean,730.500000,56.897260,70.049958,10516.828082,6.099315,5.575342,1971.267808,1984.865753,103.685262,443.639726,...,94.244521,46.660274,21.954110,3.409589,15.060959,2.758904,43.489041,6.321918,2007.815753,180921.195890
std,421.610009,42.300571,24.284752,9981.264932,1.382997,1.112799,30.202904,20.645407,181.066207,456.098091,...,125.338794,66.256028,61.119149,29.317331,55.757415,40.177307,496.123024,2.703626,1.328095,79442.502883
min,1.000000,20.000000,21.000000,1300.000000,1.000000,1.000000,1872.000000,1950.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,2006.000000,34900.000000
25%,365.750000,20.000000,59.000000,7553.500000,5.000000,5.000000,1954.000000,1967.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,5.000000,2007.000000,129975.000000
50%,730.500000,50.000000,69.000000,9478.500000,6.000000,5.000000,1973.000000,1994.000000,0.000000,383.500000,...,0.000000,25.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,2008.000000,163000.000000
75%,1095.250000,70.000000,80.000000,11601.500000,7.000000,6.000000,2000.000000,2004.000000,166.000000,712.250000,...,168.000000,68.000000,0.000000,0.000000,0.000000,0.000000,0.000000,8.000000,2009.000000,214000.000000
max,1460.000000,190.000000,313.000000,215245.000000,10.000000,9.000000,2010.000000,2010.000000,1600.000000,5644.000000,...,857.000000,547.000000,552.000000,508.000000,480.000000,738.000000,15500.000000,12.000000,2010.000000,755000.000000

In [18]:
# get count of missing values 
raw_data.isnull().sum().sort_values(ascending=False).head(20)

0    WD
1    WD
2    WD
3    WD
4    WD
Name: SaleType, dtype: object

In [19]:
X = raw_data.drop(['Id', 'SalePrice'], axis=1)
Y = raw_data['SalePrice']

In [20]:
X.dtypes

MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
Street            object
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
Length: 79, dtype: object

In [22]:

def train_test_split(X: DataFrame,Y: DataFrame,test_size=0.2,random_state=0):
    np.random.seed(random_state)
    shuffled_indices = np.random.permutation(len(X))
    test_set_size = int(len(X) * test_size)
    test_indices = shuffled_indices[:test_set_size]
    train_indices = shuffled_indices[test_set_size:]
    return X.iloc[train_indices], X.iloc[test_indices], Y.iloc[train_indices], Y.iloc[test_indices]


X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

In [23]:
X_train.shape, X_test.shape, Y_train.shape, Y_test.shape

((1168, 79), (292, 79), (1168,), (292,))

In [24]:
X_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
618,20,RL,90.0,11694,Pave,NaN,Reg,Lvl,AllPub,Inside,...,260,0,NaN,NaN,NaN,0,7,2007,New,Partial
870,20,RL,60.0,6600,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2009,WD,Normal
92,30,RL,80.0,13360,Pave,Grvl,IR1,HLS,AllPub,Inside,...,0,0,NaN,NaN,NaN,0,8,2009,WD,Normal
817,20,RL,NaN,13265,Pave,NaN,IR1,Lvl,AllPub,CulDSac,...,0,0,NaN,NaN,NaN,0,7,2008,WD,Normal
302,20,RL,118.0,13704,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,0,NaN,NaN,NaN,0,1,2006,WD,Normal

In [25]:
import torch

In [30]:
# get the non numerical columns
non_numerical_columns = X_train.select_dtypes(include=['object']).columns
print(non_numerical_columns)
X_train[non_numerical_columns].head()

Index(['MSZoning', 'Street', 'Alley', 'LotShape', 'LandContour', 'Utilities',
       'LotConfig', 'LandSlope', 'Neighborhood', 'Condition1', 'Condition2',
       'BldgType', 'HouseStyle', 'RoofStyle', 'RoofMatl', 'Exterior1st',
       'Exterior2nd', 'MasVnrType', 'ExterQual', 'ExterCond', 'Foundation',
       'BsmtQual', 'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Heating', 'HeatingQC', 'CentralAir', 'Electrical', 'KitchenQual',
       'Functional', 'FireplaceQu', 'GarageType', 'GarageFinish', 'GarageQual',
       'GarageCond', 'PavedDrive', 'PoolQC', 'Fence', 'MiscFeature',
       'SaleType', 'SaleCondition'],
      dtype='object')

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
618,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NridgHt,Norm,...,Attchd,Unf,TA,TA,Y,NaN,NaN,NaN,New,Partial
870,RL,Pave,NaN,Reg,Lvl,AllPub,Inside,Gtl,NAmes,PosN,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
92,RL,Pave,Grvl,IR1,HLS,AllPub,Inside,Gtl,Crawfor,Norm,...,Detchd,Unf,TA,TA,Y,NaN,NaN,NaN,WD,Normal
817,RL,Pave,NaN,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal
302,RL,Pave,NaN,IR1,Lvl,AllPub,Corner,Gtl,CollgCr,Norm,...,Attchd,RFn,TA,TA,Y,NaN,NaN,NaN,WD,Normal

In [31]:
# convert the non numerical columns to numerical columns without using sklearn
def convert_categorical_to_numerical(X: DataFrame):
    X_copy = X.copy()
    for column in X_copy.select_dtypes(include=['object']).columns:
        X_copy[column] = X_copy[column].astype('category').cat.codes
    return X_copy

X_train = convert_categorical_to_numerical(X_train)
X_test = convert_categorical_to_numerical(X_test)

In [32]:
X_train.dtypes

MSSubClass         int64
MSZoning            int8
LotFrontage      float64
LotArea            int64
Street              int8
                  ...
MiscVal            int64
MoSold             int64
YrSold             int64
SaleType            int8
SaleCondition       int8
Length: 79, dtype: object

In [36]:
x_train_tensor = torch.tensor(X_train.values, dtype=torch.float32)
x_test_tensor = torch.tensor(X_test.values, dtype=torch.float32)
x_train_tensor.shape

torch.Size([1168, 79])

In [51]:
# let's take care of the missing values
def fill_missing_values(X: torch.Tensor) -> torch.Tensor:
    # Calculate the mean of each column, ignoring NaNs
    column_means = torch.nanmean(X, dim=0)
    
    # Check if any column mean is still NaN (which would happen if all entries in that column are NaN)
    # Here you might decide to fill these NaNs with a different value, like 0 or the overall mean of other columns
    # For simplicity, let's fill with 0 (consider the appropriate value for your context)
    column_means[torch.isnan(column_means)] = 0
    
    # Expand the mean tensor to match the input dimensions and fill NaNs
    # We use broadcasting to extend column_means
    X = torch.where(torch.isnan(X), column_means, X)
    
    return X


x_train_tensor = fill_missing_values(x_train_tensor)
x_test_tensor = fill_missing_values(x_test_tensor)

# print rows with missing values
for i in range(x_train_tensor.shape[1]):
    if torch.isnan(x_train_tensor[:, i]).sum() > 0:
        print("column number: ", i)


column_means = torch.nanmean(x_train_tensor, dim=0)
print(column_means)

column number:  2
column number:  25
column number:  58
tensor([ 5.6605e+01,  3.0291e+00,  6.9614e+01,  1.0590e+04,  9.9572e-01,
        -9.1010e-01,  1.9255e+00,  2.7877e+00,  8.5616e-04,  3.0402e+00,
         6.9349e-02,  1.2283e+01,  2.0402e+00,  2.0000e+00,  4.8116e-01,
         3.0317e+00,  6.0865e+00,  5.5728e+00,  1.9709e+03,  1.9847e+03,
         1.4238e+00,  8.3048e-02,  9.6695e+00,  1.0384e+01, -1.2414e-01,
         1.0348e+02,  2.5471e+00,  3.7295e+00,  1.3827e+00,  2.1952e+00,
         2.7132e+00,  2.1969e+00,  2.6644e+00,  4.3989e+02,  4.5548e+00,
         4.5572e+01,  5.6805e+02,  1.0535e+03,  1.0342e+00,  1.5420e+00,
         9.3322e-01,  3.6541e+00,  1.1610e+03,  3.5148e+02,  6.4443e+00,
         1.5189e+03,  4.2209e-01,  5.4795e-02,  1.5668e+00,  3.8442e-01,
         2.8827e+00,  1.0445e+00,  2.3493e+00,  6.5445e+00,  4.8193e+00,
         6.1216e-01,  9.8202e-01,  2.1259e+00,  1.9781e+03,  1.0745e+00,
         1.7714e+00,  4.7363e+02,  3.6224e+00,  3.6473e+00,  1.8459e+00,
         9.4498e+01,  4.8045e+01,  2.3022e+01,  3.2183e+00,  1.4528e+01,
         2.1182e+00, -9.9229e-01, -5.6849e-01, -8.7928e-01,  5.0937e+01,
         6.3014e+00,  2.0078e+03,  7.5402e+00,  3.7834e+00])